extends layout

block content
    .wrapper
        include sidebar
        #content
            //h1 #{title}
            ul.list-group
                 // each article, i in articles
                     //li.list-group-item= article.title
    include nav_bar

    script(type='text/javascript').
        $(document).ready(function () {
            $('.tabs a').removeClass("active");
            var tab = document.getElementById("your_health");
            $(tab).addClass('active');
            var activeWidth = $(tab).innerWidth();
            var itemPos = $(tab).position();
            $(".selector").css({
                "left": itemPos.left + "px",
                "width": activeWidth + "px"
            });
        });